#myTab {
    margin-left: 40px;

}

#myTabContent {
    margin-left: 40px; 
}

#google-tab {
    color: black;
}

#git-card {
    margin-top: 40px;
}

#view-btn {
    margin-left: 40px;
    margin-top: 10px;
}

#git-img {
    margin-left: 40px;
}

#user-info {
    margin-left: 40px;
}


#user-info2 {
    margin-left: 40px;
}
#git-card-left {
    margin-bottom: 40px;
}

#git-card2 {
    margin-top: 40px;
}

#table2 {
    width: 100px;
}

#input-loco {
    width: 600px;
}

#git-img2 {
    height: 200px;
    width: 200px;
    
}